/* 934PX */
/* Adicionando a cor e corrigindo o nome da variável */
:root {
    --color-primary: #f15f2a;
    /* Laranja claro */
    --color-secondary: #010018;
    /* Preto */
    --color-tertiary: #E0BFB7;
    /* Bege */
    --color-accent: #CA7F73;
    /* Rosa claro */
    --color-light: #FFFFFF;
    /* Branco */
    --color-dark: #983F34;
    /* Vermelho escuro */
    --color-gray-light: #dfdfdf;
    /* Cinza claro */
    --color-gray: #BFBFBF;
    /* Cinza */
    --color-gray-dark: #BEC1C2;
    /* Cinza médio */
    --color-rose-dark: #AE7F7A;
    /* Rosa escuro */
    --color-bg-grey: #f5f4f4;
    /* Corrigido o nome da variável */
    --color-text: #676767;
    --color-text-dark: #010101;
}

@media (max-width: 58.375em) {
    body {
        grid-template-columns: 7rem 1fr 1.5fr;

    }
}

@media (max-width: 50.875em) {

    html {
        font-size: 56.25%;
    }
}

@media (max-width: 46.875em) {

    body {
        grid-template-columns: 7rem 1fr 1.2fr;

    }
}

@media (max-width: 37.6875em) {

    body {
        grid-template-columns: 7rem 1fr;

    }

    .conversation-container {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-bg-grey);
        padding: 0.5rem;
        transition: 0.3s ease-in-out;
        transform: translateX(-1000000px);
        z-index: 9999999999999999999;
        overflow-y: initial;


    }



    .btn-back-to-list {
        display: inline-block;
    }

    .show .conversation-container {
        transform: translateX(0);
    }

    .send-message-box {
        position: fixed;
        bottom: 0.5rem;
        left: 0rem;
        width: 100%;
        height: 5rem;
        padding: 0 0.5rem;
    }

}

@media (max-width: 33.0625em) {
    body {
        grid-template-columns: 1fr;
    }

    .side-bar-container {
        position: fixed;
        bottom: 0rem;
        left: 0rem;
        right: 0rem;
        height: 7rem;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        width: 100%;
        z-index: 999999999999;
        flex-direction: row;
        justify-content: center;
        gap: 3rem;

    }

    .main-nav-list {
        flex-direction: row;
        gap: 3rem;
    }

    .user-btn-box {
        flex-direction: row;
        display: flex;
        gap: 3rem;

    }

    .main-heading-logo {
        display: none;
    }

    .friend-suggestion-container {
        position: relative;
        background: none;
        overflow: auto;
        z-index: 1;

    }

    .message-box:last-child {
        margin-bottom: 7rem;
    }

    .suggestion-container {
        background-color: var(--color-light);
        padding: 2rem;
        max-width: initial;
        margin: initial;
        border-radius: initial;
        min-height: initial;
        max-height: initial;
        height: 100vh;
        overflow: hidden;
    }

    .btn-close-suggestion {
        display: none;
    }

    .suggestion-list {
        overflow: initial;
    }

    .my-profile-container {
        position: initial;
        z-index: 1;
        background: none;
        padding: 0;
    }

    .profile-information-container {
        margin: 0;
    }

    .hide {
        display: none !important;
    }

    .form-group {
        gap: 3rem;
    }

    .profile-information-container form:last-child {
        margin-bottom: 7rem;
    }

    .btn-close-profile {
        display: none;
    }

    .close-user-profile {
        display: none;
    }


    .user-profile-container {
        background-color: var(--color-bg-grey);

    }

    .user-profile-box {
        background-color: var(--color-light);
        padding: 2rem;
        max-width: initial;
        margin: initial;
        border-radius: 1rem;
        display: grid;
        overflow: hidden;
        position: relative;
        min-height: initial;
    }

    .back-profile {
        display: inline-block;
    }

    .user-profile-header {
        justify-content: left;
    }
}

@media (max-width: 30.8125em) {
    .form-group {
        flex-direction: column;
    }
}