/* Adicionando a cor e corrigindo o nome da variável */
:root {
    --color-primary: #f15f2a;
    /* Laranja claro */
    --color-secondary: #010018;
    /* Preto */
    --color-tertiary: #E0BFB7;
    /* Bege */
    --color-accent: #CA7F73;
    /* Rosa claro */
    --color-light: #FFFFFF;
    /* Branco */
    --color-dark: #983F34;
    /* Vermelho escuro */
    --color-gray-light: #dfdfdf;
    /* Cinza claro */
    --color-gray: #BFBFBF;
    /* Cinza */
    --color-gray-dark: #BEC1C2;
    /* Cinza médio */
    --color-rose-dark: #AE7F7A;
    /* Rosa escuro */
    --color-bg-grey: #f5f4f4;
    /* Corrigido o nome da variável */
    --color-text: #676767;
    --color-text-dark: #010101;
}

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

* svg {
    width: 2rem;
}

html {
    font-size: 62.5%;
}

body {
    display: grid;
    grid-template-columns: 7rem 1fr 2fr;
    background-color: var(--color-bg-grey);
    height: 100vh;
    font-size: 1.6rem;
    gap: 0.5rem;
    padding: 0.5rem;
    color: var(--color-text);
    overflow: auto;
}

aside {
    background-color: var(--color-secondary);
    width: 100%;
    color: var(--color-light);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    border-radius: 1rem;
}

.main-nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main-nav-list li:hover svg {
    color: var(--color-primary);
}

.main-nav-list li a {
    color: var(--color-light);
}

.main-heading-logo svg {
    color: var(--color-primary);
    fill: var(--color-primary);
}

.user-btn {
    background-color: #bfbfbf41;
    color: var(--color-light);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.messages-container {
    display: grid;
    grid-template-rows: 7rem 1fr;
    height: 100%;
    gap: 0.5rem;
    overflow-y: scroll;
}

.messages-container::-webkit-scrollbar {
    max-width: 0;
}

.message-search-box {
    display: flex;
    gap: 1rem;
    align-items: center;
    background-color: var(--color-light);
    padding: 2rem;
    height: 7rem;
    border-radius: 1rem;
    justify-content: space-between;

}

.search-form {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5rem;
    background-color: var(--color-bg-grey);
}

.heading-h2 {
    color: var(--color-text-dark);
}

.search-form input {
    background: none;
    width: 100%;
    height: 100%;
    font-size: inherit;
}

.search-form input:focus {
    outline: none;
}

.search-form svg {
    width: 1.8rem;
    color: var(--color-gray-dark);
}

.btn-new-conversation {
    background-color: var(--color-primary);
    color: var(--color-light);
    padding: 0.5rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.messages-list-container {
    background-color: var(--color-light);
    width: 100%;
    height: 100%;
    padding: 1rem 0;
    overflow-y: scroll;
    position: relative;
    border-radius: 1rem;
}

.messages-list-container::after {
    content: '';
    position: fixed;
    bottom: 0;
    left: 0;
    height: 8rem;
    background-color: #983F34;

}

.messages-list-container::-webkit-scrollbar {
    max-width: 0;
}

.span-tag {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--color-rose-dark);
    margin-bottom: 1rem;
    display: inline-block;
    text-transform: uppercase;
}

.img-box {
    width: 5rem;
    height: 5rem;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.img-box img {
    width: 100%;
    height: 100%;
}

.message-box {
    display: grid;
    align-items: center;
    grid-template-columns: 5rem 1fr;
    gap: 1rem;
    padding: 2rem;
}

.message-box:hover {
    background-color: var(--color-bg-grey);
}

.message-box:not(:last-child) {
    border-bottom: 1px solid var(--color-gray-light);
}

.message-content-box {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.message-content-box div {
    display: flex;
    justify-content: space-between;
}

.message-user-name {
    font-weight: 600;
    color: var(--color-text-dark);
}

.message-date {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--color-rose-dark);
}


.messages-list {
    height: 100%;
    overflow-y: scroll;
    position: relative;


}


.conversation-container {
    display: grid;
    grid-template-rows: 7rem 1fr 4.5rem;
    height: 100%;
    gap: 0.5rem;
    overflow-y: scroll;
}

.conversation-container::-webkit-scrollbar {
    max-width: 0;
}


.send-message-box,
.conversation-box,
.conversation-header-box {
    background-color: var(--color-light);
    padding: 2rem;
    border-radius: 1rem;
}

.conversation-header-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.conversation-user-box div {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

.conversation-user-box {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.user-status {
    color: var(--color-rose-dark);
    font-size: 1.4rem;
}

.conversation-box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    overflow-y: scroll;
}

.conversation-box::-webkit-scrollbar {
    max-width: 0;
}

.curr-date {
    justify-self: center;
    align-self: center;
    display: inline-block;
    padding: 1rem;
    border: 1px solid var(--color-gray-dark);
    border-radius: 5rem;
    margin-bottom: 2rem;
}

.received-message {
    align-self: flex-start;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    align-items: start;
    color: var(--color-text-dark);
    justify-self: end;

}

.received-message .text-message {
    background-color: var(--color-gray-light);
    padding: 2rem;
    border-radius: 2rem;
    border-bottom-left-radius: 0;
}

.message-time {
    font-size: 1.4rem;
    color: var(--color-text);
}

.sent-message {
    align-self: flex-end;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    align-items: end;
    justify-self: end;

}

.sent-message .text-message {
    background-color: var(--color-primary);
    color: var(--color-light);
    padding: 2rem;
    border-radius: 2rem;
    border-bottom-right-radius: 0;
}

.conversation-user-setts {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.conversation-user-setts div {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-right: 1px solid var(--color-gray-light);
    padding: 0 1rem;
}

.conversation-user-setts div span:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--color-secondary);
    color: var(--color-light);
    cursor: pointer;

}

.conversation-user-setts div span:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: inset 0 0 0 1px var(--color-gray-light);
    color: var(--color-secondary);

}

.send-message-box {
    background: none;
    display: flex;
    padding: 0;
}

.send-message-box form {
    width: 100%;
    display: grid;
    grid-template-columns: 5.5rem 1fr 5rem;
    height: 100%;
    border-radius: 0.5rem;


}

.send-message-box form input,
.send-message-box span {
    background-color: var(--color-light);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: inherit;
    border-radius: 0.5rem;
}

.send-message-box input:focus {
    outline: none;
}

.btn-send-message {
    background-color: var(--color-primary);
    border-radius: 0.5rem;
    color: var(--color-light);
    margin-left: 0.5rem;
}

.btn-send-message svg {
    transform: rotate(45deg);
}

/* suggestion */
.friend-suggestion-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999999999999;
    overflow: auto;

}

.overlay-suggestion {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.suggestion-container {
    background-color: var(--color-light);
    padding: 2rem;
    max-width: 50rem;
    margin: 5rem auto;
    border-radius: 1rem;
    min-height: 55rem;
    max-height: 55rem;
}

.suggestion-container h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-suggestion-box {
    background-color: var(--color-bg-grey);
    display: flex;
    align-items: center;
    border-radius: 5rem;
    justify-content: space-between;
    height: 4rem;
    margin-top: 2rem;
    padding: 0 1.5rem;
    margin-bottom: 2rem;
}

.search-suggestion-box input {
    width: 100%;
    height: 100%;
    background: none;
    font-size: inherit;
}

.search-suggestion-box input:focus {
    outline: none;
}

.suggestion-list {
    border-top: 1px solid var(--color-gray-light);
    height: 100%;
    overflow: auto;
    max-height: 40rem;
    position: relative;
}



.suggested-box {
    display: grid;
    grid-template-columns: 6rem 1fr 9.9rem;
    gap: 0.5rem;
    padding: 1rem 0;
    align-items: center;

}

.suggestion-content-box div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.suggested-user-name {
    font-weight: 600;
    color: var(--color-text-dark);
}

.suggested-action {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: right;
}

.suggested-action a {
    color: inherit;
    padding: 1rem;
    background-color: var(--color-bg-grey);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.suggested-action a:hover {
    background-color: var(--color-primary);
    color: var(--color-light);
}

/* profile */
.my-profile-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999999999999;
    overflow: auto;

}

.overlay-profile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.profile-information-container {
    background-color: var(--color-light);
    max-width: 80rem;
    margin: 5rem auto;
    border-radius: 1rem;
    overflow: hidden;

    padding: 2rem;
}

.profile-avatar-container {
    width: 100%;
    margin-bottom: 2rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.profile-avatar-container div {
    display: flex;
    flex-direction: column;
}

.profile-avatar {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 4px solid var(--color-gray-light);
    position: relative;

}

.profile-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;

}

.btn-upload {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 2.4rem;
    height: 2.4rem;
    overflow: hidden;
    background-color: var(--color-light);
    padding: 0.3rem;
    border-radius: 0.5rem;
    /* border: 1px solid var(--color-gray-dark); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-upload input {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 9999;
    opacity: 0;
}

.user-profile-name {
    font-size: 3.2rem;
    font-weight: 600;
    color: var(--color-text-dark);
}

.username {
    font-weight: 500;
    color: var(--color-rose-dark);
}

.profile-information-container h2 {
    display: flex;
    justify-content: space-between;
}

.profile-tag {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 2rem;
    display: inline-block;
    color: var(--color-text-dark);
}

label {
    font-weight: 600;
}

.form-group {
    display: flex;
    gap: 6rem;
    margin-bottom: 1rem;
}

.form-group div {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}



.profile-input {
    font-size: inherit;
    padding: 1.4rem;
    border: 1px solid var(--color-gray-light);
    border-radius: 1rem;
}

.profile-input:focus {
    outline: none;
    background-color: var(--color-bg-grey)
}

.form-btn {
    padding: 1.4rem;
    font-size: inherit;
    color: var(--color-light);
    background-color: var(--color-primary);
    cursor: pointer;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

.hidden {
    display: none;
}

/* user profile container */
.user-profile-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999999999999;
    overflow: auto;

}

.overlay-user-profile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.user-profile-box {
    background-color: var(--color-light);
    padding: 2rem;
    max-width: 60rem;
    margin: 5rem auto;
    border-radius: 1rem;
    display: grid;
}

.user-img-box {
    background-color: var(--color-gray-light);
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    justify-self: center;

}

.user-img-box img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.user-profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.talk-with {
    text-decoration: none;
    background-color: var(--color-primary);
    padding: 1rem;
    color: var(--color-light);
    border-radius: 1rem;
}

.user-profile-header div {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.user-profile-header div span:nth-child(1) {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.user-profile-header div span:nth-child(1):hover {
    background-color: var(--color-bg-grey);
}

.user-profile-header div span:nth-child(2) {
    display: flex;
    align-items: start;
}

.user-content-box {
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.user-contacts-buttons {
    justify-self: center;
    display: flex;
    gap: 1rem;
    width: 100%;
    margin-bottom: 3rem;
}

.user-contacts-buttons a {
    text-decoration: none;
    color: var(--color-text-dark);
    padding: 1.4rem;
    background-color: var(--color-bg-grey);
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    justify-content: center;
    text-transform: uppercase;
}

.container-tag {
    font-weight: 600;
    color: var(--color-text-dark);
    font-size: 1.8rem;
    margin-bottom: 1rem;
    display: inline-block;
}

.user-contacts-buttons a:nth-child(1) {
    background-color: var(--color-primary);
    color: var(--color-light);
}

.information-box {
    border: 1px dashed var(--color-gray-light);
    border-right: 0;
    border-left: 0;
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-text-dark);

}

.label {
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/*  */
.login-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-bg-grey);
    z-index: 99999;
    overflow: auto;
}

form button {
    position: relative;
    overflow: hidden;
}

.login-container form .tag-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.tag-form span {
    font-weight: 600;
    color: rgb(108, 108, 255);
    cursor: pointer;
}

.tag-form span:hover {
    color: rgb(25, 25, 252);

}

.login-form {
    max-width: 40rem;
    margin: 10rem auto;
    display: flex;
    flex-direction: column;
    background: var(--color-light);
    padding: 2rem;
    border-radius: 1rem;
}

.heading-h3 {
    color: var(--color-text-dark);
    align-self: center;
    font-size: 2.8rem;
    margin-bottom: 2rem;
}

.login-form label {
    font-weight: normal;
    color: var(--color-text-dark);
    margin-bottom: 1rem;
}

.login-form input {
    padding: 1.4rem;
    border: 1px solid var(--color-gray-light);
    border-radius: 1rem;
    margin-bottom: 2rem;
    font-size: inherit;
}

.login-form input:focus {
    outline: none;
    background-color: var(--color-bg-grey);
}

.login-form button {
    padding: 1.4rem;
    background-color: var(--color-primary);
    border-radius: 1rem;
    color: var(--color-light);
    font-size: inherit;
}


.sign-up-form {
    max-width: 40rem;
    margin: 10rem auto;
    display: flex;
    flex-direction: column;
    background: var(--color-light);
    padding: 2rem;
    border-radius: 1rem;
}

.heading-h3 {
    color: var(--color-text-dark);
    align-self: center;
    font-size: 2.8rem;
    margin-bottom: 2rem;
}

.sign-up-form label {
    font-weight: normal;
    color: var(--color-text-dark);
    margin-bottom: 1rem;
}

.sign-up-form input {
    padding: 1.4rem;
    border: 1px solid var(--color-gray-light);
    border-radius: 1rem;
    margin-bottom: 2rem;
    font-size: inherit;
}

.sign-up-form input:focus {
    outline: none;
    background-color: var(--color-bg-grey);
}

.sign-up-form button {
    padding: 1.4rem;
    background-color: var(--color-primary);
    border-radius: 1rem;
    color: var(--color-light);
    font-size: inherit;
}

/* SPINNER */

.hidden {
    display: none !important;
}

#spinner {
    z-index: 99999999999999999999999999999;

}

.spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    z-index: 1000;
    z-index: 999;
}

.spinner {
    border: 4px solid var(--color-accent);
    border-top: 5px solid transparent;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spinner 1s linear infinite;
}


/*  */
.button-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 99999999999;
    background-color: var(--color-primary);


}

.btn-spinner {
    background-color: var(--color-primary);


    border: 3px solid var(--color-light);
    border-top: 2px solid transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}